header{
    background-image: url("../B12A01-landing-launchpad/Assets/Hero-bg.png");
    background-size: 100% 100%;
    align-content: center;
    max-width: 1440px;
    max-height: 698px;
    
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto 150px;
    max-width: 1140px;
    max-height: 151px;
}

.nav-title{
    font-size: 34px;
    color: #4E47FF;

}
.btn-mango{
    font-size: 16px;
    font-weight: bold;
    background-color: #4E47FF;
    color: #FFFFFF;
    padding: 12px 36px;
    border-radius: 10px;
    border: none;

}
.banner{
    margin: 158px 267.5px 152px 267.5px;
    text-align: center;
    max-width: 905px;
    max-height: 237px;
    
    
    
}

.banner-heading{
    font-size: 65px;
    font-weight: bold;
    max-height:152px ;
    max-width: 905px;

}

